.contact__container {
      padding: 3rem 1rem;
      background-color: #f6f6f6;
}

.contact__title {
      text-align: center;
      padding-bottom: 1rem;
}

.contact__section {
      margin: 2rem 0;
      padding-bottom: 1.5rem;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      background-color: #fff;
}

.contact__maps {
      width: 100%;
      height: 250px;
      border-radius: 5px 5px 0 0;
}

.contact__form:hover,
input:hover,
textarea:hover,
label:hover {
      cursor: not-allowed;
}

.contact__form {
      filter: opacity(0.5);
}

form {
      padding: 1rem 1rem 3rem;
}

form div {
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
}

label,
.contact__checkbox-info {
      font-weight: 300;
      font-size: 1rem;
}

.contact__input,
.contact__textarea {
      width: 100%;
      height: 3rem;
      padding: 0.2rem 0.8rem;
      border: none;
      background-color: #f0f0f0;
}

.contact__textarea {
      height: 12rem;
}

.contact__submit {
      display: block;
      text-align: center;
}

.contact__submit-button {
      padding: 0.3rem 1rem;
      border: none;
      border-radius: 5px;
      color: #fff;
      background-color: #34a853;
}

.contact__checkbox {
      margin: 0;
      display: flex;
      flex-direction: row;
}

.contact__detail {
      text-align: center;
}

.contact__detail h2 {
      font-weight: 400;
      margin-bottom: 1rem;
}

.contact__detail p {
      font-size: 0.9rem;
}
.contact__detail p:last-child {
      margin-bottom: 2rem;
}

@media screen and (min-width: 426px) {
      .contact__infos {
            display: flex;
            justify-content: space-between;
      }
      .contact__form {
            width: 60%;
      }

      .contact__detail {
            width: 40%;
            margin-top: 2rem;
            padding-top: 1rem;
            border-left: 2px solid #f0f0f0;
      }
}

@media screen and (min-width: 769px) {
      .contact__container {
            padding: 3rem 10%;
      }
}

@media screen and (min-width: 1025px) {
      .contact__container {
            padding: 3rem 20%;
      }
}